.challengeBoxContainer {
    height: 100%;

    background: #282a36;
    border-radius: 5px;
    padding: 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.challengeNotActive {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challengeNotActive strong{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.challengeNotActive p, .challengeNotActive img{
    margin-bottom: 1rem;
}

.challengeActive {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.challengeActive header {
    color: #bd93f9;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid #44475a;
}

.challengeActive main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.challengeActive main strong {
    font-size: 2rem;
    font-weight: 600;
    color: #50fa7b;
    margin: 1.5rem 0 1rem;
}

.challengeActive main p {
    line-height: 1.5;
}

.challengeActive footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.challengeActive footer button {
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5px;

    color: var(--white);

    font-size: 1rem;
    font-weight: 600;

    transition: filter 0.2s;
}

.challengeActive footer button.challengeFailedButton {
    background: #ff5555;
    box-shadow: 0px 4px #b33a3a;
}

.challengeActive footer button.challengeFailedButton:hover {
    background: #e64c4c;
    box-shadow: 0px 4px #b33a3a;
}

.challengeActive footer button.challengeSucceededButton {
    background: #50fa7b;
    box-shadow: 0px 4px #36a552;
}

.challengeActive footer button.challengeSucceededButton:hover {
    background: #45d168;
    box-shadow: 0px 4px #36a552;
}

.challengeActive footer button:hover {
    filter: brightness(0.9);
}