.countdownContainer {
    display: flex;
    align-items: center;
    font-family: Rajdhani;
    font-weight: 600;
    color: #f8f8f2;
}

.countdownContainer > div {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: #282a36;
    border-radius: 5px;
    font-size: 8.5rem;
    text-align: center;

    color: #f8f8f2;
}

.countdownContainer > div span {
    flex: 1;
}

.countdownContainer > div span:first-child {
    border-right: 1px solid #1d1e26;
} 

.countdownContainer > div span:last-child {
    border-left: 1px solid #1d1e26;
}

.countdownContainer > span {
    font-size: 6.25rem;
    margin: 0.5rem;
    color: #f8f8f2;
}

.countdownButton {
    width: 100%;
    height: 5rem;

    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5px;

    background: #bd93f9;
    box-shadow: 0px 4px #6e5294;
    color: #282a36;

    font-size: 1.25rem;
    font-weight: 600;

    transition: background-color 0.2s;
}

.countdownButton:not(:disabled):hover {
    background: #b380f9;
    box-shadow: 0px 2px #6e5294;
}

.countdownButtonActive {
    background: #ff5555;
    color: #282a36;
    box-shadow: 0px 4px #b33a3a;
}

.countdownButtonActive:not(:disabled):hover {
    background: #e64c4c;
    color: #f8f8f2;
    box-shadow: 0px 2px #b33a3a;
}

.countdownButton:disabled {
    background: #282a36;
    color: #ff5555;
    box-shadow: 0px 4px #44475a;
    cursor: not-allowed;
}