.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 1rem;

  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.container section {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .container {
    gap: 0;
  }

  .container section {
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    padding-bottom: 30px;
  }
}
